@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist Sans";
  src: url("/../fonts/GeistVariableVF.ttf") format("truetype");
}

@font-face {
  font-family: "Geist Mono";
  src: url("/../fonts/GeistMonoVariableVF.ttf") format("truetype");
}

@layer base {
  body {
    @apply bg-white dark:bg-zinc-800
  }
}
